<link rel="stylesheet" type="text/css" href="/css/add_peep.css">
<head>
</head>
<body>
  <form action="/add_peep" method="post">
    <label for="message">Enter your message here:</label>
    <br>
    <textarea type="text" name="message" cols="40" rows="5"></textarea>
    <input type="submit" value='Submit'>
  </form>
</body>