<link rel="stylesheet" type="text/css" href="/css/chitter_board.css">
<head>
  <h1> Welcome <%= @username %> </h1>
</head>

<body>
  <a id="new_peep" href='/add_peep'>Post a new peep</a>
  <br>
  <ul style="list-style: none;">
    <% @messages.each do |message| %>
      <li class='peep'>
        <p>Message ID: <%= message.id %></p>
        <%= message.message%>
        <br>
        <%if @user.id == message.user_id%>
          <form action="/chitter/<%= message.id %>" method="post">
            <input type='hidden' name='_method' value='DELETE'/>
            <input type="submit" value="Delete" />
          </form>
        <% end %>
      </li>
      <br>
    <% end %>
  </ul>
</body>