<link rel="stylesheet" type="text/css" href="/css/chitter_board.css">
<head>
  <h1> Chitter </h1>
</head>

<body>
  <h3> Log in: </h3>
  <p class='error_message'><%= flash[:pword_notice] %></p>
  <form action="/chitter" method="post">
    <label for="username">Enter your username here:</label>
    <input type="text" name="username">
    <label for="password">Enter your password here:</label>
    <input type="password" name="password">
    <input type="submit" value="Log in">
  </form>
  <br>
  <h3> Create an account: </h3>
  <p class='error_message'><%= flash[:username_notice] %></p>
  <form action="/chitter/new_user" method="post">
    <label for="username_new">Enter your username here:</label>
    <input type="text" name="username_new">
    <label for="password_new">Enter your password here:</label>
    <input type="password" name="password_new">
    <input type="submit" value="Sign up">
  </form>
</body>