<head>
  <h1> Dan's Message Board </h1>
</head>

<body>
  <form action="/messages" method="post">
    <label for="username">Enter your username here:</label>
    <input type="text" name="username">
    <input type="submit" value="Log in">
  </form>
</body>