h1 {
  text-align: center;
}

.peep {
  border:5px solid rgb(41, 75, 38);
  background-color: rgb(220, 238, 194);
  padding:15px;
  width: 400px;
  text-align: center;
  margin-left: 31%;
}

body {
  background-color: rgb(86, 150, 115);
}

.link {
  margin-left: 45%;
  text-align: center;
}

.error_message {
  color: red;
}

.btn {
  position: relative;
  left: 195px;
  top: -27px;
}

#date {
  color: grey;
  position: relative;
  left: 5px;
  top: 30px;
  text-align: right;
}